<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	
	<resultMap type="genre" id="genreListMap">
		<result column="GENRE_CODE" property="genreCode" />
		<result column="GENRE_NAME" property="genreName" />
	</resultMap>
	
	<resultMap type="member" id="meberResultSet">
		<result column="MEMBER_NO" property="memberNo" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="MEMBER_PWD" property="memberPwd" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="BIRTHDAY" property="birthday" />
		<result column="GENDER" property="gender" />
		<result column="EMAIL" property="email" />
		<result column="PHONE" property="phone" />
		<result column="ADDRESS" property="address" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="STATUS" property="status" />
		<result column="PRIVILEGE" property="privilege" />
		<result column="LOCATION_NAME" property="locationName" />
		<collection resultMap="genreListMap" property="genreList" />
	</resultMap>
	<select id="login" parameterType="member" resultMap="meberResultSet">
		SELECT
	            MEMBER_NO,
	            MEMBER_ID,	
	            MEMBER_PWD,	
	            MEMBER_NAME,	
	            TO_CHAR(BIRTHDAY,'YYYY-MM-DD') AS BIRTHDAY,	
	            GENDER,	
	            EMAIL,	
	            PHONE,	
	            ADDRESS,	
	            ENROLL_DATE,	
	            STATUS,	
	            PRIVILEGE,	
	            LOCATION_NAME,
	            GENRE_CODE,
	            GENRE_NAME
	   	   FROM
	            TB_MEMBER
	       JOIN
                TB_LOCATION ON(LOCAL_CODE = LOCATION_CODE)
	      WHERE
	            MEMBER_ID = #{memberId}
	        AND
	            STATUS = 'Y'
	
	</select>
	<select id="loginGenre" parameterType="com.kh.member.model.vo.Member" resultType="com.kh.member.model.vo.MemberGenre">
		SELECT
                GENRE_NAME genreName
	   	   FROM
	            TB_MEMBER
           JOIN
                TB_MEMBERGENRE ON(MEMBER_NO = MEM_NO)
           JOIN
                TB_GENRE USING(GENRE_CODE)
          WHERE
	            MEMBER_ID = #{memberId}
	        AND
	            MEMBER_PWD = #{memberPwd}
	        AND
	            STATUS = 'Y'
	
	</select>
	
	<insert id="memberInsert" parameterType="com.kh.member.model.vo.Member" >
		INSERT
  	      INTO
       		   TB_MEMBER(MEMBER_NO,MEMBER_ID,MEMBER_PWD,MEMBER_NAME,BIRTHDAY,GENDER,EMAIL,PHONE,ADDRESS,LOCAL_CODE)
		VALUES 
			   (SEQ_MEMNO.NEXTVAL,#{memberId},#{memberPwd},#{memberName},#{birthday},#{gender},#{email},#{phone},#{address},#{localCode})
	</insert>
	
	
	<insert id="genreInsert" parameterType="com.kh.common.model.vo.Genre" >
		INSERT
   		  INTO
       		   TB_MEMBERGENRE
	    VALUES(
	    		SEQ_MEMNO.CURRVAL,
	    		(SELECT
       				    GENRE_CODE
 				   FROM
       				    TB_GENRE
 				   WHERE
       					 GENRE_NAME = #{genreName}))
	</insert>
</mapper>